* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    min-width: 320px;
    max-width: 640px;
    margin: 0 auto;
    height: 100%;
    font: 12px/1.5 \5b8b\4f53, sans-serif, "Microsoft YaHei", "微软雅黑";
    font-family: "Microsoft YaHei";
}

html {
    font-size: 20px;
    font-size: calc(200vw / 32);
}

@media all and (max-width: 320px) {
    html {
        font-size: 20px
    }
}

@media all and (min-width: 640px) {
    html {
        font-size: 40px
    }
}

input:focus, textarea:focus, select:focus {
    outline: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

input,select, textarea, input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    font-family: "Microsoft YaHei", "微软雅黑";
}

input, textarea, select {
    -webkit-appearance: none;
    appearance:none;
    -moz-appearance:none;
    border: none;
    border-radius: 0;
    display: block;
    padding: 0;
    margin: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    text-decoration: none;
    color: #000;
}

.clear-fix {
    display: block;
}

.clear-fix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.img-box {
    overflow: hidden;
}

.img-box img {
    display: block;
    width: 100%;
    height: 100%;
}

.disabled {
    pointer-events: none !important;
    cursor: default !important;
    color: #333 !important;
    background-color: #aaa !important;
}

.box-size {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.fix-box {
    position: fixed;
    left: 0;
    right: 0;
    margin: 0 auto;
    min-width: 320px;
    max-width: 640px;
}

.tap-up {
    transition-duration: .4s;
    -webkit-transition-duration: .4s;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
}

.tap-down {
    transition-duration: .4s;
    -webkit-transition-duration: .4s;
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
}

.default-btn {
    display: block;
    width: 100%;
    text-align: center;
    color: #fff;
    background-color: #1E6EA9;
    outline: none;
    border: none;
    font-family: "Microsoft YaHei", "微软雅黑";
    font-size: .75rem;
    height: 1.8rem;
    line-height: 1.8rem;
    -webkit-border-radius: .9rem;
    -moz-border-radius: .9rem;
    border-radius: .9rem;
}

.default-btn[disabled=disabled] {
    pointer-events: none !important;
    cursor: default !important;
    color: #666 !important;
    background-color: #ccc !important;
}

i.icon{
    background: url("../imgs/icon/icon.png") no-repeat;
    background-size: 200%;
}

.withe-bg {
    background-color: #fff;
}