/*!* layer begin *!*/
.ios-select-widget-box.olay {
    position: absolute;
    z-index: 500;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    background: rgba(0, 0, 0, .3);
}

.ios-select-widget-box.olay > div {
    position: fixed;
    z-index: 1000;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #f2f2f2;
    bottom: 0;
    animation: up .5s;
    -webkit-animation: up .5s;
    animation-fill-mode: forwards;
}

@-webkit-keyframes up {
    0% {
        bottom: -400px;
    }
    100% {
        bottom: 0;
    }
}

.ios-select-widget-box header.iosselect-header {
    height: 44px;
    line-height: 44px;
    width: 100%;
    z-index: 9999;
    text-align: center;
    position: relative;
}

.ios-select-widget-box header.iosselect-header a {
    font-size: 16px;
    color: #1E6EA9;
    text-decoration: none;
    position: absolute;
    top:0;
}

.ios-select-widget-box header.iosselect-header a.close {
    left: 0;
    padding-left: 15px;
    height: 44px;
    line-height: 44px;
}

.ios-select-widget-box header.iosselect-header a.sure {
    right: 0;
    padding-right: 15px;
    height: 44px;
    line-height: 44px;
}

.ios-select-widget-box {
    padding-top: 44px;
}

.ios-select-widget-box .one-level-contain,
.ios-select-widget-box .two-level-contain,
.ios-select-widget-box .three-level-contain {
    height: 100%;
    overflow: hidden;
}

.ios-select-widget-box .iosselect-box {
    overflow: hidden;
}

.ios-select-widget-box .iosselect-box > div {
    display: block;
    float: left;
}

.ios-select-widget-box ul {
    background-color: #fff;
}

.ios-select-widget-box ul li {
    font-size: 13px;
    height: 35px;
    line-height: 35px;
    background-color: #fff;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    color: #111;
    opacity: .3;
}

.ios-select-widget-box ul li.at {
    font-size: 16px;
    opacity: 1;
}

.ios-select-widget-box ul li.side1 {
    font-size: 15px;
    opacity: .7;
}

.ios-select-widget-box ul li.side2 {
    font-size: 14px;
    opacity: .5;
}

.ios-select-widget-box.one-level-box .one-level-contain {
    width: 100%;
}

.ios-select-widget-box.two-level-box .one-level-contain,
.ios-select-widget-box.two-level-box .two-level-contain {
    width: 50%;
}

.ios-select-widget-box.two-level-box .three-level-contain {
    width: 0;
}

.ios-select-widget-box.three-level-box .one-level-contain,
.ios-select-widget-box.three-level-box .two-level-contain,
.ios-select-widget-box.three-level-box .three-level-contain {
    width: 33.33333%;
}

.ios-select-widget-box .cover-area1 {
    width: 100%;
    border: none;
    border-top: 1px solid #d9d9d9;
    position: absolute;
    top: 149px;
    margin: 0;
    height: 0;
}

.ios-select-widget-box .cover-area2 {
    width: 100%;
    border: none;
    border-top: 1px solid #d9d9d9;
    position: absolute;
    top: 183px;
    margin: 0;
    height: 0;
}

.ios-select-widget-box #iosSelectTitle {
    margin: 0;
    padding: 0;
    display: inline;
    font-size: 16px;
    font-weight: normal;
    color: #333;
}
