*{
	padding:0;
	margin:0;
	box-sizing:border-box;
}
body{
	padding:0;
	margin:0;
}
img{
	border:0;
	outline:0;
	display:block;
}
a {
	text-decoration: none;
	color: inherit;
}
.w-1000{
	width:1000px;
	margin:0 auto;
}
.m-box{
}
.login {
    width: 380px;
    height: 400px;
    border-radius: 4px;
    background: #fff;
    box-shadow: 0px 0px 15px #9EB4C7;
    float: right;
    margin: 100px 20px 100px auto;
    text-align: center;
}
.login-title{
	color:#168DE9;
	font-size:20px;
	border-bottom:1px #ccc solid;
	line-height:60px;
	height:60px;
}
.input-box{
	padding-top:30px;
	font-size:18px;
}
.input-box input {
    font-size: 14px;
    height: 40px;
    line-height: 40px;
    padding-left: 10px;
    display: block;
    width: 300px;
    margin: 10px auto;
    border: 1px #ccc solid;
    border-radius: 4px;
    overflow: hidden;
}
.input-title{
    margin-top: 16px;
    margin-bottom: -5px;
    text-align: left;
    margin-left: 40px;
    font-size: 14px;
    color: #666;
}
.input-box input.mail{
	background:url(../image/mail.png) no-repeat 16px center;
}
.input-box input.pass{
	background:url(../image/pass.png) no-repeat 16px center;
}
.input-box input.secid{
	background:url(../image/secid.png) no-repeat 16px center;
}

.input-box input:focus{
	border:1px #168DE9 solid;
}
.qrcode{
	display:block;
	width:300px;
	height:50px;
	margin: 10px auto;
}
.qrcode input{
	width:170px;
	float:left;
	margin:0;
}
.qrcode img {
    float: right;
    width: 120px;
    height: 40px;
}
.forget{
	width:300px;
	margin: 10px auto 10px auto;
	display:block;
	text-align:right;
}
.forget a{
	color:#168DE9;
	text-decoration:underline;
}
.forget a:active, .forget a:hover{
	color:#0059DE;
	text-decoration:underline;
}
.btn{
	background:#168DE9;
	color:#fff;
	border-radius:4px;
	overflow:hidden;
	line-height:50px;
	height:50px;
	font-size:16px;
	margin:20px auto auto auto;
	display:block;
	width:300px;
}
.btn:active, .btn:hover{
	background:#0059DE;
}
