.g-header {
    display: none;
}

ul.city-list-ul {

}

ul.city-list-ul li {
    float: left;
    border: 1px solid #ddd;
    margin: 5px;
}

ul.city-list-ul li a {
    display: block;
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
}

ul.city-list-ul li a:hover {
    background-color: #f3f3f3;
}

.loading {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99999;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
}

.loading .img-box {
    width: 3rem;
    height: 3rem;
    position: absolute;
    top: 48%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.yzm-li {
    position: relative;
}

.yzm-li.info-li .input-wrap input {
    padding-right: 5rem;
}

.yzm-li .img-box {
    position: absolute;
    left: 310px;
    top: 0;
    cursor: pointer;
    width: 150px;
    height: 50px;
}

.info-li {
    margin-top: 10px;
}

.info-li .info-title {
    font-size: 14px;
}

.info-li .input-wrap {
    width: 300px;
    padding-left: 5px;
    height: 30px;
    border: 1px solid #ccc;
    overflow: hidden;
}

.info-li .input-wrap input, .info-li .input-wrap select {
    display: block;
    width: 100%;
    height: 27px;
}

.save-btn {
    width: 50px;
    height: 30px;
    font-size: 14px;
    text-align: center;
    line-height: 30px;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
}


p.error-text {
    width: 310px;
    background-color: #fff4db;
    color: #ff2e2e;
    font-size: 14px;
    line-height: 30px;
    display: none;
    position: relative;
    margin-left: 0;
}
