.form-list {
    width: 100%;
    padding: 0 .6rem;
}

.form-list ul {
    padding: .15rem 0;
}

.form-list .contact-title {
    color: #1e6ea9;
    font-size: .75rem;
    padding-top: .8rem;
    clear: both;
}

.form-list .info-li {
    width: 50%;
    float: left;
    padding: .15rem 0;
}

.form-list .info-li.info-li-long {
    width: 100%;
}

.form-list .info-li.left-li {
    padding-right: .5rem;
}

.form-list .info-li.right-li {
    padding-left: .5rem;
}

.form-list .info-li.li-height {
    height: 2.2rem;
}

.info-li .info-title {
    color: #bbb;
    height: .6rem;
    line-height: .6rem;
    font-size: .5rem;
}

.info-li .input-wrap {
    position: relative;
}

.info-li .input-wrap input, .info-li .input-wrap select {
    display: block;
    width: 100%;
    font-size: .7rem;
    padding: .2rem 0;
    height: 1.3rem;
    color: #333;
    border: none;
    border-bottom: 1px solid #eee;
    background-color: #fff;
}

.info-li .input-wrap input:focus, .info-li .input-wrap select:focus {
    border-bottom: 1px solid #1E6EA9;
}

.info-li .input-wrap input[disabled], .info-li .input-wrap select[disabled] {
    -webkit-text-fill-color: rgba(0, 0, 0, 1);
    -webkit-opacity: 1;
}

.info-li .input-wrap.p-right input {
    padding-right: 30px;
}

.info-li .input-wrap.input-group div {
    float: left;
}

.info-li .input-wrap.input-group div:nth-child(1) {
    width: 25%;
}

.info-li .input-wrap.input-group div:nth-child(2) {
    width: 50%;
    padding: 0 1rem;
}

.info-li .input-wrap.input-group div:nth-child(3) {
    width: 25%;
}

.info-li .input-wrap .count-y {
    font-size: .7rem;
    color: #333;
    position: absolute;
    right: 0;
    top: 0;
    height: 1.3rem;
    line-height: 1.3rem;
    padding-right: 5px;
}

.info-li .input-wrap span.error-circle {
    display: none;
}

.info-li .input-error {
    position: relative;
}

.info-li .input-error input {
    border-bottom: 1px solid #ff2e2e;
}

.info-li .input-error input:focus {
    border-bottom: 1px solid #ff2e2e;
}

.info-li .input-error span.error-circle {
    display: block;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    width: 6px;
    height: 6px;
    background-color: #ff2e2e;
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -3px;
}

.info-li .input-error.p-right span.error-circle {
    right: 25px;
}

.form-list .save-btn {
    margin: 1.5rem 0;
}

.g-header {
    width: 100%;
    height: 2rem;
    background-color: #F5F5F5;
    border-bottom: 1px solid #aaa;
    padding: 0 1rem;
    overflow: hidden;
    z-index: 88;
}

.g-icon {
    display: block;
    background: url("../imgs/icon/g-icon.png") no-repeat;
    background-size: 100% auto;
}

.g-header .close-btn {
    position: absolute;
    width: 2rem;
    height: 2rem;
    left: 0;
    top: 0;
}

.g-header i.close-icon {
    width: .8rem;
    height: .8rem;
    left: .6rem;
    margin: .6rem 0 0 .6rem;
    display: none;
}

.g-header .g-search {
    border: 1px solid #ddd;
    height: 1.2rem;
    -webkit-border-radius: .6rem;
    -moz-border-radius: .6rem;
    border-radius: .6rem;
    width: 100%;
    margin-top: .4rem;
    position: relative;
    background-color: #fff;
    padding: 0 1.3rem;
}

.g-header .g-search .g-search-icon {
    width: .75rem;
    height: .75rem;
    position: absolute;
    background-position: 0 100%;
    left: .3rem;
    top: .18rem;
}

.g-header .g-search .search-cancel {
    display: block;
    width: .75rem;
    height: .75rem;
    position: absolute;
    right: .3rem;
    top: .18rem;
    background: url("../imgs/icon/search_cancel.png") no-repeat 0 0;
    background-size: 100%;
}

.g-header .g-search .g-search-input {
    display: block;
    width: 100%;
    height: .8rem;
    position: relative;
    top: -1px;
    margin-top: .2rem;
    font-size: .6rem;
}

.g-main {
    padding-top: 2rem;
    overflow: hidden;
}

.g-main .g-hot {
    background-color: #fff;
    padding: .5rem;
}

.g-main .g-hot .g-hot-title {
    color: #999;
    font-size: .7rem;
}

.g-main .g-hot .g-hot-ul {
    margin-top: .3rem;
}

.g-main .g-hot .g-hot-ul li {
    float: left;
    width: 30%;
    height: 1.6rem;
    line-height: 1.6rem;
    border: 1px solid #ddd;
    background-color: #f5f5f5;
    text-align: center;
    font-size: .7rem;
    margin: .2rem 0;
    cursor: pointer;
}

.g-main .g-hot .g-hot-ul li a {
    color: #666;
}

.g-main .g-hot .g-hot-ul li:nth-child(3n-1) {
    margin: .2rem 5%;
}

.g-main .g-city-list {
}

.g-main .g-city-list .first-letter {
    font-size: .7rem;
    padding: 0 .5rem;
}

.g-main .g-city-list ul.city-list-ul {
    background-color: #fff;
    padding: 0 0 0 .5rem;
}

.g-main .g-city-list ul.city-list-ul li {
    font-size: .7rem;
    border-bottom: 1px solid #ddd;
    line-height: 2rem;
    cursor: pointer;
}

.g-main .g-city-list ul.city-list-ul li a {
    color: #333;
}

.g-main .g-city-list ul.city-list-ul li:nth-last-child(1) {
    border: none;
}

.small-title {
    display: none;
}

.picker-box {
    -webkit-user-select: none;
    background-color: #EAEAEA;
}

.picker-box dt {
    padding: .1rem 0.5rem;
    font-size: .65rem;
}

.picker-box dd {
    padding: 0 0.5rem;
    font-size: .7rem;
}

.picker-box dd span.dd-span {
    display: block;
    padding: 0.5rem 0;
    border-bottom: 1px solid #dbdbdb;
    cursor: pointer;
}

.picker-box dd:nth-last-child(1) span.dd-span {
    border-bottom: none;
}

.pro-picker, .city-picker {
    /*overflow: auto;*/
    width: 100%;
}

.pro-picker {
    /*padding-top: 2rem;*/
}

.pro-picker dl {
    margin-bottom: -2rem;
}

.pro-picker dl dt {
    padding-top: 2rem;
    position: relative;
    z-index: 1;
}

.pro-picker dl dd {
    background-color: #fff;
    position: relative;
    z-index: 2;
}

.city-picker li {
    padding: 10px 20px;
    border-bottom: 1px solid #dbdbdb;
}

.navbar {
    position: fixed;
    top: 50%;
    right: 0;
    width: 20px;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    border-radius: 5px;
    z-index: 99;
}

.navbar a {
    display: block;
    text-align: center;
    color: gray;
}

.navbar a:target {
    padding-top: 2rem;
}

.navbar.active {
    background-color: grey;
}

.navbar.active a {
    color: #fff;
}

.picker-box .prompt {
    display: block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    border-radius: 50%;
    background-color: gray;
    color: #fff;
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 5;
}

p.error-text {
    width: 100%;
    background-color: #fff4db;
    color: #ff2e2e;
    font-size: .6rem;
    padding: .3rem .6rem;
    display: none;
    position: fixed;
    z-index: 99;
}

.yzm-li {
    position: relative;
}

.yzm-li.info-li .input-wrap input {
    padding-right: 5rem;
}

.yzm-li .img-box {
    width: 4.5rem;
    height: 1.6rem;
    position: absolute;
    right: 0;
    top: .15rem;
}

.searching-icon {
    position: fixed;
    top: 48%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-radius: 5px;
    z-index: 99;
}

.searching-icon .img-box {
    width: 3rem;
    height: 3rem;
    margin: 0 auto;
}

.searching-icon p {
    text-align: center;
    font-size: .85rem;
    color: #999999;
    letter-spacing: 1px;
    line-height: 2.2em;
}

.loading {
    top:0;
    left: 0;
    display: none;
    position: fixed;
    z-index: 99999;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.2);
}

.loading .img-box {
    width: 3rem;
    height: 3rem;
    position: absolute;
    top: 48%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}